@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&family=M+PLUS+1+Code:wght@100..700&family=Titillium+Web:wght@200&display=swap');

* {
    box-sizing: border-box;
}

/* Rest of your CSS code goes here */

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body {
    margin: 0;
    padding: 0;
    font-family: "M PLUS 1 Code", system-ui;
    background-color: #F8F6E3;
    width: 1200px;
    height: 100vh;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    background-color: #40A578;
    font-family: "M PLUS 1 Code", system-ui;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.nav-bar ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin-left: 20px;
}

.nav-bar ul li a:visited {
    color: 9DDE8B(0 23% 77%);
}

.nav-bar ul li a:hover {
    color: #E6FF94;
}

.nav-bar ul li:not(:last-child) {
    margin-right: 20px;
}

.banner {
    background-color: #006769;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #c2d9eb;
    font-family: "Jacquard 24", system-ui;
}

.game-box {
    border: 1px solid #ccc;
    align-items: center;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    background-color: #9DDE8B;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.game-box__game {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.footer {
    background-color: #b8d2fd;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-family: "Titillium Web", system-ui;
    height: 100px;
    position: fixed;
}

.loan-table {
    border-collapse: collapse;
    border: 1px solid black;
    font-size: 20px;
}

.loan-table thead {
    background-color: #bebebe;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

.loan-table tbody td {
    padding: 10px;
}

.loan-table tbody tr:nth-child(even) {
    background-color: #9be3ff;
}

.my-page__my-loans {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

}

.my-page__my-loans table {

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

}

.my-page__my-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: #9DDE8B;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

}

.add-game__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #aeb1b1;
    margin: 20px;
}

.my-page__login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}


@media (max-width: 800px) {
    .nav-bar {
        flex-direction: column;
        align-items: center;
    }
}